/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.icon {
	display: inline-block;
	background-image: url(../img/icon-pack.png);
}


.icon-write {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}

.icon-calendar-data-yes {
	width: 10px;
	height: 10px;
	background-position: -32px 0;
}

.icon-gray-border {
	width: 2px;
	height: 2px;
	background-position: -42px 0;
}

.icon-calendar {
	width: 20px;
	height: 20px;
	background-position: -44px 0;
}

.icon-circleplus {
	width: 34px;
	height: 34px;
	background-position: -64px 0;
}

.icon-crown1 {
	width: 36px;
	height: 44px;
	background-position: -98px 0;
}

.icon-crown2 {
	width: 36px;
	height: 44px;
	background-position: -134px 0;
}

.icon-crown3 {
	width: 36px;
	height: 44px;
	background-position: -170px 0;
}

.icon-menubstar {
	width: 22px;
	height: 20px;
	background-position: -206px 0;
}

.icon-menucalendar {
	width: 22px;
	height: 20px;
	background-position: -228px 0;
}

.icon-menucheck {
	width: 22px;
	height: 20px;
	background-position: -250px 0;
}

.icon-menumoney {
	width: 24px;
	height: 24px;
	background-position: -272px 0;
}

.icon-menumoney-08 {
	width: 18px;
	height: 24px;
	background-position: -296px 0;
}

.icon-menuperson {
	width: 24px;
	height: 22px;
	background-position: -314px 0;
}

.icon-menusetting {
	width: 22px;
	height: 22px;
	background-position: -338px 0;
}

.icon-menuwstar {
	width: 20px;
	height: 18px;
	background-position: -360px 0;
}

.icon-nav1 {
	width: 22px;
	height: 20px;
	background-position: -380px 0;
}

.icon-nav1-on {
	width: 22px;
	height: 20px;
	background-position: -402px 0;
}

.icon-nav2 {
	width: 20px;
	height: 18px;
	background-position: -424px 0;
}

.icon-nav2-on {
	width: 20px;
	height: 18px;
	background-position: -444px 0;
}

.icon-nav3-on {
	width: 22px;
	height: 20px;
	background-position: -464px 0;
}

.icon-nav3 {
	width: 22px;
	height: 20px;
	background-position: -486px 0;
}

.icon-nav4 {
	width: 22px;
	height: 20px;
	background-position: -508px 0;
}

.icon-nav4-on {
	width: 22px;
	height: 20px;
	background-position: -530px 0;
}

.icon-nav5 {
	width: 24px;
	height: 22px;
	background-position: -552px 0;
}

.icon-nav5-on {
	width: 24px;
	height: 22px;
	background-position: -576px 0;
}

.icon-nav6 {
	width: 24px;
	height: 24px;
	background-position: -600px 0;
}

.icon-nav6-on {
	width: 24px;
	height: 24px;
	background-position: -624px 0;
}

.icon-nav7 {
	width: 18px;
	height: 24px;
	background-position: -648px 0;
}

.icon-nav7-on {
	width: 18px;
	height: 24px;
	background-position: -666px 0;
}

.icon-nav8 {
	width: 22px;
	height: 22px;
	background-position: -684px 0;
}

.icon-nav8-on {
	width: 22px;
	height: 22px;
	background-position: -706px 0;
}

.icon-time {
	width: 22px;
	height: 22px;
	background-position: -728px 0;
}

.icon-tooltip {
	width: 30px;
	height: 28px;
	background-position: -750px 0;
}

.icon-remark1 {
	width: 20px;
	height: 20px;
	background-position: -780px 0;
}

.icon-remark2 {
	width: 20px;
	height: 20px;
	background-position: -800px 0;
}

.icon-remark3 {
	width: 20px;
	height: 20px;
	background-position: -820px 0;
}

.icon-remark4 {
	width: 20px;
	height: 20px;
	background-position: -840px 0;
}

.icon-remark5 {
	width: 20px;
	height: 20px;
	background-position: -860px 0;
}

.icon-remark6 {
	width: 20px;
	height: 20px;
	background-position: -880px 0;
}

.icon-select-arrow {
	width: 14px;
	height: 14px;
	background-position: -900px 0;
}

.icon-camera {
	width: 40px;
	height: 32px;
	background-position: -914px 0;
}

.icon-i {
	width: 26px;
	height: 26px;
	background-position: -954px 0;
}

.icon-leftarrow {
	width: 14px;
	height: 24px;
	background-position: -980px 0;
}

.icon-leftarrow-act {
	width: 14px;
	height: 24px;
	background-position: -994px 0;
}

.icon-listleftarrow {
	width: 14px;
	height: 24px;
	background-position: -1008px 0;
}

.icon-menuclose {
	width: 30px;
	height: 30px;
	background-position: -1022px 0;
}

.icon-list {
	width: 38px;
	height: 28px;
	background-position: -1052px 0;
}

.icon-plus {
	width: 16px;
	height: 16px;
	background-position: -1090px 0;
}

.icon-read-more {
	width: 16px;
	height: 32px;
	background-position: -1106px 0;
}

.icon-rightarrow {
	width: 14px;
	height: 24px;
	background-position: -1122px 0;
}

.icon-rightarrow-act {
	width: 14px;
	height: 24px;
	background-position: -1136px 0;
}

.icon-setting {
	width: 32px;
	height: 32px;
	background-position: -1150px 0;
}