	<div class="con_26">
         <div class="con_26_tit">
            <p>Ranking Tip!</p>
            <p class="desc">
               This ranking list is based on the CARROT Point System. Teachers will get points when they..
            </p>
        </div>
        <!--//con_26_tit-->

        <div class="tip">
            <dl>
                <dt>1/</dt>
                <dd>Have a good attendance record without any<br />lateness or cancelations.</dd>
                <div class="line"></div>
            </dl>
            <dl class="bgYes">
                <dt>2/</dt>
                <dd>Have a good attendance record without any lateness or cancelations.</dd>
                <div class="line"></div>
            </dl>
            <dl>
                <dt>3/</dt>
                <dd>Have a good attendance record without any<br />lateness or cancelations.</dd>
                <div class="line"></div>
            </dl>
            <dl class="bgYes">
                <dt>4/</dt>
                <dd>Have a good attendance record without any lateness or cancelations.</dd>
                <div class="line"></div>
            </dl>
        </div>
        <!--//change_pw-->

        <div class="btn_text"><a href="#" ng-back>Back</a></div>

    </div>
    <!--//con_26-->